
/*********** NAVIGATION ********/
nav {
	position: fixed;
	width: 100%; 
	height: 55px; 
	top: 0; 
	padding: 13px 0 0 0; 
	background: rgba(253,253,253,.5);
  	z-index: 99;
  	font-weight: bold;
}
nav ul{
	margin: 1% 90px;
}
nav ul li{
	display:inline;
	float: right;
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
	padding-left: 18px;
	font-weight: bold;
	
}
nav a{
	text-decoration: none;
	color: #000;
	font-family: 'Open Sans Condensed', 'Kalinga', sans-serif;
	z-index: 99;
}
nav a:hover{
	text-decoration: underline;
	color: #bababa;
}

/*************** HEADER BODY MAIN **********************/
.img-1{
	z-index: 99;
	position: absolute;
	top: 30px;
	left: 130px;
	width:15%;
}

#main{
	background: url('../img/top_bg.jpg')no-repeat 70% 50%;
	background-size: cover;
	height: 100%;
}
#post-min{
	display: none;
}

#post{
	position: relative;
	top: 290px;
	margin: 0 0 20% 15%;
}
#post h2{
	font-weight: bold;
	font-size: 4em;
	line-height: 1.5em;
	font-family: 'Kalinga', sans-serif;
}
#post p{
	line-height: 1.5em;
	font-size: 1.8em;
	font-family: 'Kalinga', sans-serif;
}
#post a{
	position: absolute;
	margin: 14px 0;
	background: #208b0a;
	text-decoration: none;
	padding: 1em 3.5em;
	color: #fff;
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	font-size: 1.6em;
}
#post a:hover{
	text-decoration: underline;
	color: #bababa;
}

#about{	
	
	background: rgba(0,0,0,.7);
	width: 100%;
	text-align: center;
	padding: 1% 0 2%;
	margin-top: 28%;
	font-family: 'Open Sans Condensed', 'Century Gothic', sans-serif;

	}
#about h3{	

	color: #f5f5f5;
	font-size: 3.4em;
	font-family: 'Open Sans Condensed', 'Century Gothic', sans-serif;
	padding: 0 0 10px;

}
#about ul li{
	display: inline-block;
	padding: 25px 5px 5px;
	color: #f5f5f5;
	font-size: 2.2em;
	font-family: 'Open Sans Condensed', 'Kalinga', sans-serif;
}

/*************** SECOND ROW 'HOW IT WORKS' **********************/
#row-1{
	position: relative;
	margin: 0 auto 0;
	background: #f7f7f7;
	height: 50%;
	/*clear: both;*/
}
#row-1 h2{
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	padding: 100px 0 90px;
	font-size: 50px;
	color: #888888;
}
#row-1 img{
	width: 80%;
	padding: 0 10% 5%;
}

/*******************ROW 2 'LOOKING FOR A JOB' *******************/
#row-2{

	background: url('../img/blurred_bg.jpg') no-repeat;
	background-size: cover;
	width:	100%;
	height:	600px;
	text-align: center;
	}
#row-2 h2{
	
	font-family: 'Kalinga', sans-serif;
	padding: 6% 0 70px;
	font-weight: bold;
	font-size: 4em;	
}

#row-2 .tip-1{
	
	font-family: 'NSimSun', sans-serif;
	font-size: 2em;
	padding-bottom: 28px;	
}
#row-2 .tip-2{
	padding-bottom: 90px;
	font-family: 'NSimSun', sans-serif;
	font-size: 2em;	
}
#row-2 a{
	background: #208b0a;
	text-decoration: none;
	padding: 1em 3.5em;
	color: #fff;
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	font-size: 1.9em;
	

}
#row-2 a:hover{
	text-decoration: underline;
	color: #bababa;
}



/*************** ROW THREE MAIN PARTNERS **********************/
#row-3 h2{
	padding: 20px 0;
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	line-height: 1.3em;
	color: #888888;
	font-size: 50px;	
}

.partners h2 {
	font-size: 2.4vw;
	color: #919191;
	margin-bottom: 4%
}

.partners li {
	display: inline;
}

.partners img {
	width: 8%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1.34% 5%;
	margin: 2% 2% 5% 2%;
}

/*************** FOOTER **********************/
footer{
	position: relative; 
	clear: both; 
	width: 100%; 
	height: 6%; 
	bottom: 0; 
	padding: 13px 0 0 0; 
	text-align: center; 	
  	background: #333333;
	border-top: 4px solid #218a0a;
	float: left;
}

.col-l a{
	display: block;
	color: #fff;
	font-family: 'Century Gothic', sans-serif;
	text-decoration: none;
	float: left;
	margin: 50px 0 0 20px;
	padding: 0px 0 30px 0px;

}
.col-l a:hover{
	text-decoration: underline;
}
