/*********** NAVIGATION ********/
nav {
  position: fixed;
  width: 100%; 
  height: 55px; 
  top: 0; 
  padding: 13px 0 0 0; 
  background: rgba(253,253,253,.5);
  z-index: 2;
  font-weight: bold;
}

nav ul{
  margin: 1% 90px;
}

nav ul li{
  display: inline;
  float: right;
  font-size: 100%;
  padding-left: 18px;
  font-weight: bold;
}

nav a{
  text-decoration: none;
  color: #000;
  font-family: 'Open Sans Condensed', 'Kalinga', sans-serif;
}

nav a:hover{
  text-decoration: underline;
  color: #bababa;
}
/*************** HEADER BODY MAIN **********************/
.logo{
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 130px;
  width: 15%;
}

#main{
  background: url('../img/top_bg.jpg') no-repeat 70% 50%;
  background-size: cover;
  height: 100%;
}

#post{
  position: relative;
  top: 200px;
  margin: 0 0 20% 18%;
  font-family: 'Kalinga', sans-serif;
}

#post h2{
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
}

#post p{
  line-height: 1.5em;
  font-size: 1em;
}

#post a{
  position: absolute;
  margin: 14px 0;
  background: #208b0a;
  text-decoration: none;
  padding: .6em 2em;
  color: #fff;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.6em;
}

#post a:hover{
  text-decoration: underline;
  color: #bababa;
}

#about{ 
  background: rgba(0,0,0,.7);
  width: 100%;
  text-align: center;
  padding: 1% 0 2%;
  margin-top: 23%;
  font-family: 'Open Sans Condensed', 'Century Gothic', sans-serif;
}

#about h3{  
  color: #f5f5f5;
  font-size: 2.5em;
  padding: 0 0 10px;
}

#about ul li{
  display: inline-block;
  padding: 19px 5px 5px;
  color: #f5f5f5;
  font-size: 1.5em;
}

/*************** SECOND ROW 'HOW IT WORKS' **********************/
#row-1{
  position: relative;
  width: 100%;
  background-color: #F7F7F7;
  color: #777777;
  font-family: 'Open Sans Condensed', 'Century Gothic', sans-serif;
}

#row-1 h2{
  display: inline-block;
  margin: 6% 0 5% 0;
  text-align: center;
  width: 100%;
  font-size: 3.4vw;
}

#row-1-container{
  width: 100%;
  padding-bottom: 7%;
  padding-left: 13%;
  box-sizing: border-box;
  margin: 0 auto;
}

#row-1-container div{
  display: inline-block;
  width: 19%;
}

#row-1-container div img{
  display: inline-block;
  margin-bottom: 15%
}

#middle-pic1{
  width: 40%;
  margin-left: 30%;
}

#middle-pic2{
  width: 30%;
  margin-left: 37%;
}

#middle-pic3{
  width: 40%;
  margin-left: 30%;
}

#middle-pic4{
  width: 60%;
  margin-left: 29%;
}

#row-1-container > img{
  width: 3.5%;
  position: relative;
  margin-bottom: 5.9%;
}

#row-1-container p{
  text-align: center;
  line-height: 160%;
  font-size: 1.4vw;
}

/*******************ROW 2 'LOOKING FOR A JOB' *******************/
#row-2{
  background: url('../img/blurred_bg.jpg') no-repeat;
  background-size: cover;
  width:  100%;
  height: 400px;
  text-align: center;
}

#row-2 h2{
  font-family: 'Kalinga', sans-serif;
  padding: 4% 0 30px;
  font-weight: bold;
  font-size: 3em; 
}

#row-2 .tip-1, #row-2 .tip-2{
  font-family: 'NSimSun', sans-serif;
}

#row-2 .tip-1{
  font-size: 1.5em;
  padding-bottom: 28px; 
}

#row-2 .tip-2{
  padding-bottom: 90px;
  font-size: 1.3em; 
}

#row-2 a{
  background: #208b0a;
  text-decoration: none;
  padding: .6em 2em;
  color: #fff;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.9em;
}

#row-2 a:hover{
  text-decoration: underline;
  color: #bababa;
}
/*************** ROW THREE MAIN PARTNERS **********************/
#row-3 h2{
  padding: 20px 0;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  line-height: 1.3em;
  color: #888888;
  font-size: 50px;  
}

.partners h2{
  font-size: 2.4vw;
  color: #919191;
  margin-bottom: 4%;
}

.partners li{
  display: inline;
  margin-left: 5.7%;
}

.partners img{
  width: 8%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.34% 5%;
  margin: 2% 0 5%;
}

/*************** FOOTER **********************/
footer{
  position: relative; 
  clear: both; 
  width: 100%; 
  height: 6%; 
  bottom: 0; 
  padding: 13px 0 0 0; 
  text-align: center;   
  background: #333333;
  border-top: 4px solid #218a0a;
  float: left;
}

.footer-text a{
  display: block;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
  text-decoration: none;
  float: left;
  margin: 50px 0 0 20px;
  padding: 0 0 30px 0;

}

.footer-text a:hover{
  text-decoration: underline;
}
